

.App{


    background: rgb(22, 131, 123);
    
}
.Button{


    background: rgb(105, 142, 169);
    padding: 15px 32px;
    margin: 4px 2px;
}
.Resim1{

    width: 100px;
    height: 100px;
}

